<div id="messages-page">
  {{#if errors}}
    <div class="notice error">
      <h2 class="notice-header">Error</h2>
      <ul class="error-list">
        {{#each errors}}
          {{#each this}}
            <li>{{@../key}}{{color}}</li>
          {{/each}}
        {{/each}}
      </ul>
    </div>
  {{/if}}

  <form id="message-form" method="POST" action="/messages">
    <button type="submit">Random Color</button>
  </form>

  <div id="messages">
    <h2>Hex Codes</h2>

    {{#unless messages}}
      <p>Sorry, no messages. :(</p>
    {{else}}
      <ol reversed class="message-list">
        {{#each messages}}
          <li>
            <div class="message-body">
              {{color}}
            </div>
            <div class="message-timestamp">
              Posted on {{created_at}}
            </div>
          </li>
        {{/each}}
      </ol>
    {{/unless}}
  </div>
</div>
